.header {
  width: 100%;
  padding: 1rem;
  background-color: #F8F9FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.header-title {
  margin: 0;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  font-weight: 600;
  color: #336E6E;
  margin-right: 1rem;
}

.header-link:last-child {
  margin-right: 0;
}

.header-link:hover {
  color: #54E0E0;
}

.header-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.header-logo-image {
  height: 24px; /* Smaller size */
  width: auto;
  margin-right: 8px;
}

.header-logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #336E6E;
  margin: 0;
}

.header-auth-button ,.header-login-button{
  background-color: #336E6E;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}